<p>
  <strong>Site:</strong>
  <%= @check.site %>
</p>
 
<p>
  <strong>Cdn:</strong>
  <%= @check.cdn %>
</p>
<p>
  <strong>File:</strong>
  <%= @check.file %>
</p>
<p>
  <strong>mesurement:</strong>
  <%= @check.mesurement %>
</p>
 
<p>
  <strong>status:</strong>
  <%= @check.status %>
</p>

